In [1]:
from sklearn.datasets import load_iris
dataset = load_iris()

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(dataset.data, columns = dataset.feature_names)
df['target'] = dataset.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [6]:
new_df = df[df['target'] != 2]
new_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,1
96,5.7,2.9,4.2,1.3,1
97,6.2,2.9,4.3,1.3,1
98,5.1,2.5,3.0,1.1,1
99,5.7,2.8,4.1,1.3,1

In [7]:
X = new_df.drop('target', axis = 1)
y = new_df.target

In [8]:
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.20, random_state = 42)

In [11]:
from sklearn.linear_model import LogisticRegression

classification = LogisticRegression(max_iter = 200)
classification.fit(X_train, y_train)
y_test_prediction = classification.predict(X_test)

Slope or Coefficient: [[ 0.45808171 -0.83895654  2.21684247  0.92362595]]
Intercept: [-6.526665]

## Confusion Metrics, Accuracy, Classification Report

In [14]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

print(confusion_matrix(y_test, y_test_prediction))
print(accuracy_score(y_test, y_test_prediction))
print(classification_report(y_test, y_test_prediction))

[[12  0]
 [ 0  8]]
1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       1.00      1.00      1.00         8

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20

## Cross Validation

In [15]:
from sklearn.model_selection import KFold

cv = KFold(n_splits = 5, shuffle = True)

In [17]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(classification, X_train, y_train, scoring = 'accuracy', cv = cv)
np.mean(scores)

1.0